  header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 0;
  
    background-image: url("../assets/img/logoFondo.jpeg");
    filter: brightness(125%);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid #000;
  }
  
  section {
    margin-top: 11vh;
  }
  
  #logo {
    width: 15vh;
    height: auto;
  }
