/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
}

body {
  min-height: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  flex-direction: column;
  margin: 0;
  margin-bottom: 0;
}

/* Footer */

.footer{
  position: static;
  background-color: #2D2D2D;
  text-align: center;
}

.contenedor1{
  width: 100%;
  background-color: #e6052b73;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.contenedor2{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.contenedor2 p{
  color: white;
}

.contenedor1 .columna{
  width: 350px;
  height: 20%;
  overflow: hidden;
  margin: 0px 20px;
  text-align: center;
  position: static;
}

#columna1 {
  margin: 20px 0px 0px 0px;
}

#columna2 {
  margin: 40px 45px 0px 45px;
}

#columna3 {
  margin: 20px 0px 0px 0px;
}

.columna h3{
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
}

.columna hr{
  color: white;
  margin: 0;
}

.columna ul{
  padding: 0px 10px;
}

.columna li{
  list-style:none;
}

.columna li a {
  display: block;
  color: white; 
  padding: 4px 0px 1px 0px;
  text-decoration: none;
}