/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #FFFFFF 22.4%, #E4E4E4 100%);
  background-size: cover;
  background-attachment: fixed;
}